<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24"
  >
    <div>
      <div class="text-center max-w-4xl mx-auto">
        <div class="sm:flex sm:justify-center">
          <div
            class="relative rounded-full py-1 px-3 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20"
          >
            <a
              href="https://forms.gle/BzSswb4fH4Zom9Hs6"
              class="font-semibold text-accent-600"
              ><span class="absolute inset-0" aria-hidden="true"></span>
              <span class="block lg:inline">
                ลงทะเบียนรับสิทธิ์ใช้งานฟรี 3 เดือนได้แล้ววันนี้
                <span aria-hidden="true">&rarr;</span>
              </span>
            </a>
          </div>
        </div>
        <p
          class="text-black mt-8 font-extrabold lg:text-5xl text-4xl tracking-tight"
        >
          LabX <span class="font-light text-3xl lg:text-4xl">by</span> VX
        </p>
        <p class="text-slate-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          แอพพลิเคชั่นจัดการข้อมูลผลแล็บที่ใช้งานง่าย
          ช่วยให้คุณหมอเข้าถึงประวัติการตรวจแล็บของสัตว์เลี้ยงได้อย่างสะดวกรวดเร็ว
          ยกระดับการวินิจฉัยให้กับทีมแพทย์ของคุณ
        </p>
      </div>
      <div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">
        <a
          class="items-center justify-center font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex duration-200 text-black lg:w-auto px-6 py-3 text-center text-black/80 w-full border"
          href="https://pawandbetty.com">พัฒนาโดย Paw & Betty</a
        >
        <a
          class="items-center justify-center font-medium rounded-xl focus-visible:outline-accent-500 focus:outline-none inline-flex bg-accent-500 border-2 border-accent-500 duration-200 focus-visible:ring-accent-500 hover:bg-transparent hover:border-accent-500 hover:text-black lg:w-auto px-6 py-3 text-center text-white w-full"
          href="mailto:amp@pawandbetty.com"
          >รับสิทธิ์ใช้งานฟรี 3 เดือน &nbsp; &rarr;
        </a>
      </div>
      <dl
        class="lg:gap-x-8 lg:grid-cols-3 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start"
      >
        <div class="text-slate-500">
          <strong class="text-slate-700"
            >แค่ถ่ายรูปข้อมูลก็เก็บประวัติได้ทันที</strong
          > ━ เพียงแค่เปิดกล้องถ่ายรูปผลแล็บที่ได้รับ ข้อมูลจะถูกเก็บเข้าระบบโดยอัตโนมัติ
        </div>
        <div class="text-slate-500">
          <strong class="text-slate-700">รองรับผลแล็บทุกแบบ ทุกเครื่อง!</strong>
          ━ ไม่ว่าจะเป็นเครื่องรุ่นไหน เอกสารแบบไหน LabX สามารถอ่านข้อมูลและบันทึกให้คุณได้ทันที
        </div>
        <div class="text-slate-500">
          <strong class="text-slate-700">จ่ายเท่าที่ใช้งาน</strong> ━ LabX ไม่มีค่าใช้จ่ายในการลงทะเบียน
          และคิดค่าใช้จ่ายตามการใช้งานจริง ไม่มีค่าใช้จ่ายที่ซ่อนเร้น
        </div>
      </dl>
    </div>
    <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
      <div class="bg-slate-100 p-8 rounded-3xl" style="">
        <img
          alt=""
          class="relative w-full border lg:rounded-2xl object-cover rounded shadow-2xl"
          src="/queue_screenshot.jpg"
        />
      </div>
    </div>
    <div class="mt-12 grid place-items-center">
      <div
        class="flex flex-col p-4 grayscale transition duration-200 hover:grayscale-0"
      >
        <p class="text-center text-gray-500">พาร์ทเนอร์ของเรา</p>
        <img
          src="/pyt7_logo_horizontal.jpg"
          class="mx-auto h-24 w-auto"
          loading="lazy"
          alt="client logo"
          width=""
          height=""
        />
      </div>
    </div>
  </div>
</section>
