<section id="features">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 pb-24 scroll-mt-12"
  >
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2><div>
          <div
            class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3"
          >
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  นำข้อมูลเข้าด้วยการถ่ายรูป
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                ไม่ต้องกรอกข้อมูลเองให้ยุ่งยาก แค่หยิบผลแล็บมาถ่ายรูปด้วยมือถือ
                ข้อมูลจะถูกเก็บเข้าระบบโดยอัตโนมัติ
              </div>
            </div>
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  อ่านข้อมูลจากไฟล์ PDF
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                สามารถอัพโหลดไฟล์ PDF ที่ได้จากแล็บเข้าสู่ระบบได้โดยตรง
                ระบบจะอ่านข้อมูลและเก็บประวัติโดยอัตโนมัติ
              </div>
            </div>
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  ผลแล็บทั้งหมดรวมไว้ในที่เดียว
                </p>
              </div>
              <div class="mt-4 text-slate-500 text-sm">
                ไม่ต้องตามหาข้อมูลจากหลาย ๆ ที่อีกต่อไป แค่เปิด LabX
                ก็จะเข้าถึงข้อมูลการตรวจจากทุกแล็บทุกครั้งได้ทันที
              </div>
            </div>
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  เปรียบเทียบผลแล็บได้ทันที
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                สามารถเปรียบเทียบผลแล็บแต่ละค่าของการตรวจแต่ละครั้งได้ทันที
                เห็นความเปลี่ยนแปลงได้ชัดเจน
                ช่วยยกระดับการวินิจฉัยของคุณหมอให้ง่ายขึ้นไปอีก
              </div>
            </div>
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Pay as you go
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                เริ่มต้นด้วย Free account ใช้งานได้เลยโดยไม่ต้องจ่ายก่อน
                เมื่อธุรกิจของคุณขยายตัวขึ้นจึงเริ่มจ่ายตามปริมาณการใช้
                ราคาเป็นไปตามการใช้งาน สามารถคำนวณล่วงหน้าได้
                ไม่มีค่าใช้จ่ายแอบแฝง
              </div>
            </div>
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Works everywhere
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                คุณสามารถใช้ LabX ได้ทุกที่ทุกเวลา ไม่ว่าจะเป็นบนคอมพิวเตอร์,
                แท็บเล็ต, หรือมือถือ ไม่ว่าจะอยู่ที่โรงพยาบาลหรือที่บ้าน
                ช่วยให้การบริหารจัดการโรงพยาบาลของคุณง่ายขึ้น
                ไม่มีข้อจำกัดเรื่องสถานที่อีกต่อไป
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
