<section id="features">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="mx-auto max-w-2xl text-center">
      <div>
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter"
        >
          โรงพยาบาลสัตว์ของคุณ <span class="lg:block"
            >ควรได้บริหารด้วยเครื่องมือที่ดีที่สุด
          </span>
        </p><p
          class="mt-4 text-lg max-w-xl mx-auto tracking-tight text-slate-500"
        >
          "ก็ไม่ได้ดีหรอก แต่มันก็เหมือน ๆ กันหมด" VX
          จะเป็นตัวเลือกที่แตกต่างที่จะทำให้คุณไม่ต้องพร่ำบ่นแบบนี้อีกต่อไป
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2><div>
          <div
            class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3"
          >
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  100% Cloud-based
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                ไม่ต้องมีเครื่องแม่อยู่ที่โรงพยาบาล ไม่ต้องติดตั้งระบบ network
                ขนาดใหญ่เพื่อใช้งาน
                ลดค่าใช้จ่ายแฝงในการจัดการที่เป็นภาระอันไม่จำเป็น
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Pay as you go
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                เริ่มต้นด้วย Free account ใช้งานได้เลยโดยไม่ต้องจ่ายก่อน
                เมื่อธุรกิจของคุณขยายตัวขึ้นจึงเริ่มจ่ายตามปริมาณการใช้
                ราคาเป็นไปตามการใช้งาน สามารถคำนวณล่วงหน้าได้
                ไม่มีค่าใช้จ่ายแอบแฝง
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Full features
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                VX มีพีเจอร์ครบถ้วนตั้งแต่ระเบียนประวัติ, บัญชี, สต็อกสินค้า,
                นัดหมาย, ระบบคิว และอื่น ๆ
                เพื่อให้คุณสามารถบริหารโรงพยาบาลหรือคลินิกของคุณได้จบภายในที่เดียว
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Modern
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                VX ถูกออกแบบใหม่ทั้งหมดโดยคำนึงถึงประสบการณ์การใช้งานจริง
                มีการทดสอบเป็นระยะเวลานานในโรงพยาบาลจริง ๆ
                เพื่อให้เกิดประสบการณ์การใช้งานที่ดีที่สุดกับทุกคนตั้งแต่เจ้าของ,
                คุณหมอ, ผู้ช่วย รวมไปถึงเจ้าหน้าที่ที่เกี่ยวข้องอื่น ๆ
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Flexible
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                VX
                ออกแบบมาให้ยืดหยุ่นเพื่อตอบรับความแตกต่างของโรงพยาบาลแต่ละแห่ง
                ไม่ว่าจะเป็นโรงพยาบาลขนาดเล็กหรือโรงพยาบาลขนาดใหญ่
                คุณจะไม่ถูกบังคับให้ต้องทำงานในแบบที่ไม่อยากทำเพียงเพราะระบบไม่รองรับ
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Works everywhere
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                คุณสามารถใช้ VX ได้ทุกที่ทุกเวลา ไม่ว่าจะเป็นบนคอมพิวเตอร์,
                แท็บเล็ต, หรือมือถือ ไม่ว่าจะอยู่ที่โรงพยาบาลหรือที่บ้าน
                ช่วยให้การบริหารจัดการโรงพยาบาลของคุณง่ายขึ้น
                ไม่มีข้อจำกัดเรื่องสถานที่อีกต่อไป
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
