---
import Container from "./Container.astro";
---

<div id="team">
  <Container>
    <div class="mb-12 space-y-2 text-center">
      <h2 class="text-3xl font-bold text-gray-800 dark:text-white md:text-4xl">
        P&B Team
      </h2>
      <p class="text-gray-600 dark:text-gray-300 lg:mx-auto lg:w-7/12">
        เราคือการรวมตัวของเจ้าของธุรกิจสัตวแพทย์, มือโปรด้านมาร์เก็ตติ้ง
        และผู้เชี่ยวชาญด้านเทคโนโลยี
      </p>
    </div>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      <div
        class="group flex flex-col rounded-3xl border border-gray-100 bg-white bg-opacity-50 p-6 shadow-2xl shadow-gray-600/10 dark:border-gray-700 dark:bg-gray-800 dark:shadow-none sm:p-8"
      >
        <div class="relative overflow-hidden rounded-xl">
          <img
            src="/thiti_c.jpeg"
            alt="art cover"
            loading="lazy"
            width="1000"
            height="667"
            class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
          />
        </div>
        <div class="relative mt-6 flex flex-1 flex-col">
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
            ธิติ ลือพงศ์ลัคณา CEO
          </h3>
          <p class="mb-8 mt-6 flex-1 text-gray-600 dark:text-gray-300">
            เจ้าของโรงพยาบาลสัตว์พญาไท 7
            อยู่ในวงการธุรกิจสัตว์เลี้ยงมาอย่างยาวนาน
          </p>
          <a
            class="inline-block"
            href="https://www.facebook.com/thiti.lueponglukana"
          >
            <span class="text-info text-accent-400"
              >ทำความรู้จักให้มากยิ่งขึ้น</span
            >
          </a>
        </div>
      </div>
      <div
        class="group flex flex-col rounded-3xl border border-gray-100 bg-white bg-opacity-50 p-6 shadow-2xl shadow-gray-600/10 dark:border-gray-700 dark:bg-gray-800 dark:shadow-none sm:p-8"
      >
        <div class="relative overflow-hidden rounded-xl">
          <img
            src="/tan_c.jpeg"
            alt="art cover"
            loading="lazy"
            width="1000"
            height="667"
            class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
          />
        </div>
        <div class="relative mt-6 flex-1">
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
            มนัสนันท์ ริปุญชัยพงศ์ CMO
          </h3>
          <p class="mb-8 mt-6 flex-1 text-gray-600 dark:text-gray-300">
            มือโปรด้านมาร์เก็ตติ้งในวงการ
            เธอคือคนที่จะช่วยขยายขอบเขตและความเป็นไปได้ของธุรกิจของคุณ
          </p>
          <a class="inline-block" href="https://www.facebook.com/tan.tharasub">
            <span class="text-info text-accent-400"
              >ทำความรู้จักให้มากยิ่งขึ้น</span
            >
          </a>
        </div>
      </div>
      <div
        class="group flex flex-col rounded-3xl border border-gray-100 bg-white bg-opacity-50 p-6 shadow-2xl shadow-gray-600/10 dark:border-gray-700 dark:bg-gray-800 dark:shadow-none sm:p-8"
      >
        <div class="relative overflow-hidden rounded-xl">
          <img
            src="/amp_c.jpeg"
            alt="art cover"
            loading="lazy"
            width="1000"
            height="667"
            class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
          />
        </div>
        <div class="relative mt-6 flex flex-1 flex-col">
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
            ธนวัฒน์ ทัศนา CTO
          </h3>
          <p class="mb-8 mt-6 flex-1 text-gray-600 dark:text-gray-300">
            ตัวจริงด้านเทคโนโลยีโซลูชั่น
            ยกระดับธุรกิจสัตว์เลี้ยงด้วยเทคโนโลยีที่ทันสมัย
          </p>
          <a class="inline-block" href="https://www.facebook.com/amp.tanawat">
            <span class="text-info text-accent-400"
              >ทำความรู้จักให้มากยิ่งขึ้น</span
            >
          </a>
        </div>
      </div>
    </div>
  </Container>
</div>
