<footer aria-labelledby="footer-heading" class="bg-black">
  <h2 id="footer-heading " class="sr-only">Footer</h2>
  <div
    class="items-center px-8 mx-auto py-12 gh:py-24 md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl"
  >
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="text-white xl:col-span-3">
        <span class="text-lg font-semibold lg:text-2xl italic">VX Platform</span
        >
        <p class="lg:w-1/4 mt-2 text-sm text-slate-400">
          <span class="mt-6 font-normal">
            Veterinary eXtraordinary - Revolutionizes the future of veterinary
            business
          </span>
        </p>
      </div>
      <div class="grid grid-cols-2 gap-8 mt-12 lg:mt-24 xl:col-span-3">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-xl text-white">All pages</h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a href="/" class="text-sm text-slate-400 hover:text-white">
                  หน้าแรก
                </a>
              </li>
              <li>
                <a href="/labx" class="text-sm text-slate-400 hover:text-white">
                  LabX
                </a>
              </li>
              <li>
                <a
                  href="https://www.facebook.com/people/VX/100093363904254/"
                  class="text-sm text-slate-400 hover:text-white"
                >
                  เพจ Facebook
                </a>
              </li>
              <li>
                <a
                  href="/privacy"
                  class="text-sm text-slate-400 hover:text-white"
                >
                  นโยบายความเป็นส่วนตัว
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
